[package]
name = "flamegraph"
version = "0.5.1"
description = "A simple cargo subcommand for generating flamegraphs, using inferno under the hood"
license = "MIT OR Apache-2.0"
repository = "https://github.com/flamegraph-rs/flamegraph"
keywords = ["perf", "flamegraph", "profiling", "cargo", "cargo-subcommand"]
categories = ["command-line-utilities", "development-tools::profiling", "visualization", "development-tools::cargo-plugins"]
readme = "README.md"
edition = "2018"

[[bin]]
name = "cargo-flamegraph"
path = "src/bin/cargo-flamegraph.rs"

[[bin]]
name = "flamegraph"
path = "src/bin/flamegraph.rs"

[dependencies]
anyhow = "1.0.43"
cargo_metadata = "0.14.0"
clap = { version = "3.0", features = ["derive"] }
clap_complete = "3.0"
inferno = "0.10.8"
opener = "0.5.0"

[target.'cfg(unix)'.dependencies]
signal-hook = "0.3.10"

[profile.release.build-override]
opt-level = 0
